@import "reset.css";

@keyframes up-down {
  from {
    transform: translateY(1.5rem);
  }
  25% {
    transform: translateY(-0.625em);
  }
  50% {
    transform: translateY(0.625em);
  }
  75% {
    transform: translateY(-0.625em);
  }
  to {
    transform: translateY(1.51rem);
  }
}

#intro-left {
  width: 50%;
  padding-top: 3rem;
}

#main-container {
  padding-top: 4.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
  #main-container {
    padding-top: 4.5rem;
    margin-right: 0rem;
    margin-left: 0rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
  }
  #intro-left {
    width: 100%;
    padding-top: 5rem;
    text-align: center;
  }
}
* {
  box-sizing: border-box;
}

#hero {
  padding: 3.75rem 0;
  overflow: hidden;
}

#header-bar {
  height: 2rem;
  background: #023b6d;
  display: flex;
  align-items: center;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 1003;
}

@media screen and (max-width: 1024px) {
  #preview-device {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #logo {
    display: none;
  }
}

#logo {
  padding-left: 0.625em;
  margin-top: 3px;
}

#logo img {
  height: 1.56rem;
}
#preview-device {
  margin: 0.32rem 18rem 0 1rem;
}

#preview-device li {
  height: 1.5rem;
  width: 1.8rem;
}

#current-template {
  padding-left: 0;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-template i {
  width: 1.5rem;
  height: 1.5rem;
}

#current-template a {
  color: white;
}

#current-template a:nth-child(2) {
  margin: 0 1rem;
  font-weight: 700;
}

#current-template a:nth-child(1) {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  transition: 0.3s;
}

#current-template a:nth-child(3) {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  transition: 0.3s;
}

#current-template a:nth-child(1):hover {
  color: white;
}
#current-template a:nth-child(3):hover {
  color: white;
}

#navigate {
  display: flex;
  margin-left: auto;
  align-items: center;
}

#navigate i {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  padding: 0 0.3rem 0 0;
}
#navigate i:hover {
  color: white;
}

#navigate #download {
  background: #00a6eb;
  color: #fff;
  font-size: 0.81rem;
  padding: 0 1em;
  height: 2.4em;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0.94rem;
  white-space: nowrap;
}
#navigate #download i {
  color: white;
}

#navigate #download:hover {
  background: #47b3e1;
}

#navigate a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}

.contact-name label,
.contact-email label {
  padding-bottom: 8px;
}

label {
  display: inline-block;
}

#fixed-top {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#top-container {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  padding: 0.94rem 0 0 0;
}

#top-container #Arsha-logo {
  font-size: 1.9rem;
  margin-right: auto;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
  color: white;
}

#navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

#navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0 0.6rem 1.9rem;
  font-size: 0.975rem;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

#navbar a:hover {
  color: #47b2e4;
}

#navbar #sign-button {
  border: 0.1rem solid #47b2e4;
  border-radius: 3.1rem;
  padding: 0.5rem 1.25rem;
  margin-left: 1.87rem;
}

#navbar #sign-button:hover {
  background: #47b2e4;
  color: #fff;
}

#navbar-menu {
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media screen and (max-width: 991px) {
  #navbar {
    display: none;
  }
  #Arsha-logo {
    position: absolute;
    top: 1rem;
    left: 2.4rem;
  }
  #navbar-menu {
    display: block;
    position: absolute;
    top: 1.9rem;
    right: 4.2rem;
  }
  #top-container #Arsha-logo {
    margin-left: 2rem;
  }
}

#hero {
  width: 100%;
  height: 80%;
  background: #37517e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-right {
  width: 40%;
}

#intro-right {
  animation: up-down 6s ease-in-out infinite alternate-reverse both;
}

#intro-right img {
  max-width: 100%;
  height: auto;
}

#intro-left #intro-button {
  border: 0.125rem solid #47b2e4;
  border-radius: 3.1rem;
  background-color: #47b2e4;
  padding: 0.5rem 1.25rem;
  margin-right: 0.57rem;
}

#intro-left #intro-button:hover {
  background-color: #4398bf;
  border: 0.125rem solid #4398bf;
}

#intro-left a {
  padding: 0.6rem 0 0.6rem 1.9rem;
  font-size: 0.975rem;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

#intro-left i {
  transition: 0.3s;
  font-size: 1.5rem;
  padding: 0.3rem;
}
#intro-left i:hover {
  color: #4398bf;
}

#hero h1 {
  margin: 0 0 0.62rem 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #intro-right {
    width: 70%;
  }
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 3.6rem;
  font-size: 1.5rem;
}

#color-change {
  position: fixed;
  background: #37517e;
  opacity: 0.9;
  padding: 3rem;
  top: 0;
  right: 0;
  left: 0;
  z-index: 996;
}

#clients {
  background: #f3f5fa;
  padding: 12px 0;
  overflow: hidden;
}

#clients-container {
  display: flex;
  max-width: 100%;
}

.clients-list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  width: calc(100% / 6);
}

.clients-list-img {
  max-width: 45%;
  display: inline-block;
  padding: 15px 0;
  height: auto;
  filter: grayscale(100);
  transition: all 0.3s linear;
}

.clients-list-img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

#about {
  display: flex;
  padding: 2rem;
}

#about-title {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-weight: 900;
}

#about-title div {
  margin-top: 2rem;
  width: 10%;
  border-bottom: 0.1px solid #868686;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-title div span {
  width: 40%;
  border-bottom: 3px solid #47b2e4;
}

#about-title h2 {
  font-size: 2rem;
  color: #37517e;
}

#about-content {
  background-color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  line-height: 1.4rem;
}

#about-content-left {
  width: 50%;
  margin-right: 1rem;
  color: #444444;
}

#about-content-left ul {
  margin-top: 1rem;
}

#about-content-left li {
  margin-top: 1rem;
}

#about-content-right {
  margin-left: 1rem;
  width: 50%;
}

#about-content-right p {
  color: #444444;
}

#about-btn {
  margin-top: 2rem;
  background-color: white;
  padding: 0.6rem 2rem;
  border: 1px solid #47b2e4;
  color: #47b2e4;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#about-btn:hover {
  background-color: #47b2e4;
  color: white;
}

.about-i {
  margin-right: 0.5rem;
  color: #47b2e4;
}

#whyus {
  display: flex;
  background-color: #f3f5fa;
  padding: 4rem 3rem;
}
#whyus-content {
  width: 50%;
  line-height: 2rem;
  padding: 3rem;
}

#whyus-content h2 {
  font-size: 1.8rem;
  color: #37517e;
}

.whyus-info:hover {
  color: #47b2e4;
}

#whyus-span {
  font-weight: 900;
}

#whyus-content p {
  color: #848484;
}

#whyus-content > div {
  background: white;
  padding: 1.5rem;
  margin: 1rem 0;
  color: #343a40;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whyus-content-num {
  color: #47b2e4;
  margin-right: 0.5rem;
}

#whyus-content div i {
  float: right;
  align-items: center;
}
#whyus-img {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(./why-us.png);
  width: 50%;
}

#skill {
  display: flex;
  padding: 60px 100px;
}

#skill-img {
  background-image: url(./skills.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50%;
}

#skill-content {
  width: 50%;
  line-height: 2rem;
  padding: 2rem 1rem;
}

#skill-content h2 {
  font-size: 2rem;
  color: #37517e;
  font-weight: 900;
  margin-right: 3rem;
  margin-bottom: 0.5rem;
}

#skill-content p {
  color: #444444;
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.skill-bar-title {
  color: #37517e;
  font-size: 0.8rem;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

.skill-bar {
  display: flex;
  background: #e8edf5;
  margin-bottom: 1.5rem;
}

#skill-bar-first {
  width: 100%;
  background-color: #4668a2;
  height: 10px;
}

#skill-bar-second {
  width: 90%;
  background-color: #4668a2;
  height: 10px;
}

#skill-bar-third {
  width: 75%;
  background-color: #4668a2;
  height: 10px;
}

#skill-bar-fourth {
  width: 55%;
  background-color: #4668a2;
  height: 10px;
}
#team {
  display: flex;
  background-color: #f3f5f4;
  padding: 1rem;
}

#team-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

#team-title div {
  width: 6rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #dddddd;
}

#team-title h2 {
  font-size: 2rem;
  color: #37517e;
}

#team-title div > span {
  width: 2rem;
  border-bottom: 4px solid #47b2e4;
}

#team-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#team-content-top {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#team-content-top p {
  display: flex;
  text-align: center;
  color: #444444;
}

#team-content-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 2%;
  box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 10%);
  width: 47%;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 991px) {
  .team-content-container {
    width: 80%;
  }
}
@media only screen and (max-width: 463px) {
  .team-content-container {
    width: 100%;
  }
}
.team-content-img {
  width: 11.25rem;
  height: 11.25rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  padding: 0.2rem;
  display: flex;
  justify-content: space-around;
}

.team-content-name h2 {
  font-weight: 700;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  color: #37517e;
  font-size: 1.5rem;
  font-weight: 600;
}

.team-content-container div {
  margin: 0.8rem 0 0.8rem 0.5rem;
}

.team-content-container div > p {
  color: #444444;
  margin-left: 0.5rem;
}
.team-content-container div > span {
  width: 3rem;
  margin: 0.8rem 0 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid #dddddd;
}

.team-content-title {
  margin: 0.5rem 0 0.5rem 0;
  color: #444444;
}

.team-content-social {
  display: flex;
}

.team-content-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: #eff2f8;
  background-repeat: no-repeat;
  text-decoration-line: none;
}

.team-content-social a i {
  color: #37517e;
  font-size: 1rem;
  margin: 0 0.2rem;
}
#team-for-hover {
  transition: ease-in-out 0.3s;
}

#team-for-hover:hover {
  background-color: #47b2e4;
  color: white;
}
/*---------------------section Pricing-------------------------*/

#pricing {
  display: flex;
  padding: 4rem;
}

#pricing-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

#pricing-title h2 {
  font-size: 2rem;
  color: #37517e;
}

#pricing-title div {
  width: 6rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #dddddd;
}

#pricing-title div > span {
  width: 2rem;
  border-bottom: 4px solid #47b2e4;
}

#pricing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  padding: 2rem;
}

#pricing-content-top {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#pricing-content-top p {
  display: flex;
  justify-content: space-around;
  color: #444444;
  text-align: center;
}

#pricing-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

@media only screen and (max-width: 991px) {
  #pricing-content-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

.pricing-content-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  padding: 3.75rem 2.5rem;
  box-shadow: 0 0.1rem 1.5rem -0.1rem rgb(20 45 100 / 10%);
  height: 100%;
  border-top: 0.25rem solid white;
  border-radius: 2%;
}

.pricing-content-box h3 {
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #37517e;
}

.pricing-content-box sup {
  position: relative;
  font-size: 1.75rem;
  top: -0.5em;
}
.pricing-content-box h4 {
  font-size: 3rem;
  color: #37517e;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.pricing-content-box h4 span {
  color: #47b2e4;
  font-size: 18px;
  display: block;
}

.pricing-content-box ul li {
  display: flex;
  margin-bottom: 1rem;
  color: #999;
}

.pricing-content-box li > i {
  color: #28a745;
  margin-right: 0.7rem;
}

#pricing-linethrough {
  text-decoration: line-through;
}

.pricing-content-buybutton {
  text-decoration-line: none;
  display: flex;
  padding: 0.75rem 2.2rem;
  color: #47b2e4;
  font-weight: 500;
  border: 2px solid #47b2e4;
  border-radius: 3.125rem;
  margin-top: 2rem;
}
.pricing-content-buybutton2 {
  text-decoration-line: none;
  display: flex;
  padding: 0.75rem 2.2rem;
  background: #47b2e4;
  color: #fff;
  font-weight: 500;
  border: 2px solid #47b2e4;
  border-radius: 3.125rem;
  margin-top: 2rem;
}

/*---------------------section Faq-------------------------*/

#faq {
  display: flex;
  padding: 4rem;
  background-color: #f3f5f4;
}

#faq-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

#faq-title div {
  width: 6rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #dddddd;
}

#faq-title h2 {
  font-size: 2rem;
  color: #37517e;
}

#faq-title div > span {
  width: 2rem;
  border-bottom: 4px solid #47b2e4;
}

#faq-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  padding: 2rem;
}

#faq-content-top {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

#faq-content-top p {
  display: flex;
  max-width: fit-content;
  color: #444444;
  text-align: center;
}

.faq-content-list ul > li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2%;
}

.faq-content-list a {
  text-decoration: none;
  color: #37517e;
  font-weight: 500;
}
.faq-list-one {
  color: #37517e;
  margin-left: 0.5rem;
}
.faq-list-merge {
  color: #47b2e4;
  margin-right: 0.5rem;
}

#footer-newsletters {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

#footer-bottom {
  background-color: #37517e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  color: #fff;
  font-size: 14px;
}

.copyright {
  padding-left: 150px;
}

.credits {
  padding-right: 150px;
}
.footer-middleline,
.footer-lastline {
  padding: 10px 0;
  width: 50%;
  text-align: center;
}

#footer-newsletters {
  background-color: #f3f5fa;
}

#footer-information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 50px;
  font-size: 14px;
}

.footer-title-bo {
  padding-bottom: 15px;
}

#contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}

.contact-box {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.address h4,
.email h4,
.phone h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.address i,
.email i,
.phone i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.address p,
.email p,
.phone p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.contact-title h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.contact-title h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}
.contact-NE label,
.contact-sbject label,
.contact-Message label {
  padding-bottom: 8px;
}

.contact-information {
  text-align: center;
}

.footer-headline h4 {
  text-align: center;
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}

.footer-lastline form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 6%);
  text-align: left;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.footer-lastline form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
.footer-lastline form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #47b2e4;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.footer-OS h4,
.OSN h4,
.footer-UL h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

.footer-UL ul i,
.footer-OS ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

.footer-UL ul li,
.footer-OS ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer-title-bo p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

.footer-ARS h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

.contact-title {
  padding-bottom: 20px;
}

.contact-lb {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}

.contact-rb {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
  width: 100%;
  width: 40rem;
}

.contact-sbject,
.contact-Message {
  width: 100%;
}

.contact-lb,
.contact-rb {
  margin: 30px;
}

.contact-NE {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.contact-sbject,
.contact-Message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

#contact-button {
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  transition: 0.4s;
  border-radius: 50px;
}

#contact-button button {
  color: white;
}

.contact-name,
.contact-email {
  width: 48%;
}

.contact-NE input {
  width: 100%;
}

.credits a {
  color: #47b2e4;
  text-decoration: none;
}

.back-to-top :active {
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.portfolio-info {
  position: absolute;
  width: 100%;
  background-color: rgba(55, 81, 126, 0.8);
  bottom: 0;
  transition: all 0.3s;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
  display: none;
  height: 60px;
}

.portfolio-photo-box:hover div {
  display: flex;
}

.portfolio-photo-1 {
  display: flexbox;
  width: 10rem;
  margin: 0.5rem;
}

@media only screen and (max-width: 992px) {
  #clients-container {
    flex-wrap: wrap;
  }

  .clients-list-items {
    width: calc(100% / 3);
    flex: 0 0 auto;
  }

  #about-content {
    flex-wrap: wrap;
    padding: 2rem 6rem;
  }

  #about-content-left {
    width: 100%;
  }

  #about-content-right {
    width: 100%;
    padding-top: 1rem;
    margin: 0;
  }

  #whyus {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  #whyus-content {
    width: 100%;
    padding: 0;
  }
  #whyus-img {
    width: 100%;
    min-height: 400px;
    margin-bottom: 2rem;
  }

  #skill {
    display: flex;
    flex-wrap: wrap;
  }

  #skill-img {
    width: 100%;
    min-height: 400px;
  }
  #skill-content {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #clients-container {
    flex-wrap: wrap;
  }

  .clients-list-items {
    width: 50%;
    flex: 0 0 auto;
  }

  #about {
    padding: 0;
  }
  #about-content {
    padding: 3rem;
  }

  #whyus {
    padding: 1rem;
  }

  #skill {
    padding: 1rem;
  }
  #skill-content {
    padding: 1rem;
  }
}

.portfolio-photo-info-text {
  flex-direction: column;
}

.portfolio-photo-info-text h4 {
  font-size: 18px;
  color: white;
  font-family: "Jost", sans-serif;
}

.portfolio-photo-info-text p {
  font-size: 14px;
  color: white;
  font-weight: 100;
  padding-top: 0.3rem;
}

.portfolio-photo-info-icon i {
  padding-right: 1rem;
  color: white;
}

/* 여기까지 */

#portfolio-photos1 {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1200px) {
  #services-grid {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .services-grid-contents {
    width: 40%;
  }
}
