@import "reset.css";

* {
  box-sizing: border-box;
}

/* header {
	position: sticky;
	left: 0;
	right: 0;
	top: 0;
}

section {
	padding: 60px 0;
	overflow: hidden;
} */

#header-bar {
  height: 1.8rem;
  background: #023b6d;
  display: flex;
  align-items: center;
}

#logo {
  padding-left: 0.625em;
}

#logo img {
  height: 1.56rem;
}
#preview-device {
  margin-top: 0.32rem;
}
#preview-device ul {
  margin: 0 0 0 2rem;
  padding: 0;
  list-style: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#preview-device li {
  height: 1.5rem;
  width: 1.8rem;
}

#current-template {
  padding-left: 0;
  margin-top: 0.32rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-template i {
  width: 1.5rem;
  height: 1.5rem;
}

#navigate {
  display: flex;
  margin-left: auto;
  align-items: center;
}
#navigate #download {
  background: #00a6eb;
  color: #fff;
  font-size: 0.81rem;
  padding: 0 1em;
  height: 2em;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0.94rem;
  white-space: nowrap;
}
#navigate a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#fixed-top {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#top-container {
  padding: 0.94rem;
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

#top-container #Arsha-logo {
  font-size: 1.9rem;
  margin-right: auto;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}

#navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

#navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

#navbar #sign-button {
  border: 2px solid #47b2e4;
  border-radius: 50px;
  padding: 8px 20px;
  margin-left: 30px;
}

#hero {
  width: 100%;
  height: 80vh;
  background: #37517e;
  display: flex;
  align-items: center;
}

#main-container {
  padding-top: 4.5rem;
  margin-right: auto;
  margin-left: auto;
}

#introduction {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

#clients {
  background: #f3f5fa;
  padding: 12px 0;
  overflow: hidden;
}

#clients-container {
  display: flex;
  max-width: 100%;
}

.clients-list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  width: calc(100% / 6);
}

.clients-list-img {
  max-width: 45%;
  display: inline-block;
  padding: 15px 0;
  height: auto;
  filter: grayscale(100);
}

#about {
  display: flex;
  padding: 2rem;
}

#about-title {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-weight: 900;
}

#about-title div {
  margin-top: 2rem;
  width: 10%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-title div span {
  width: 40%;
  border-bottom: 3px solid blue;
}

#about-title h2 {
  font-size: 2rem;
  color: #37517e;
}

#about-content {
  background-color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  line-height: 1.4rem;
}

#about-content-left {
  width: 50%;
  margin-right: 1rem;
  color: #444444;
}

#about-content-left ul {
  margin-top: 1rem;
}

#about-content-left li {
  margin-top: 1rem;
}

#about-content-right {
  margin-left: 1rem;
  width: 50%;
}

#about-content-right p {
  color: #444444;
}

#about-content-right button {
  margin-top: 2rem;
  background-color: white;
  padding: 0.6rem 2rem;
  border: 1px solid #47b2e4;
  color: #47b2e4;
  border-radius: 5px;
}

.about-i {
  margin-right: 0.5rem;
  color: #47b2e4;
}

#whyus {
  display: flex;
  background-color: #f3f5fa;
  padding: 4rem 3rem;
}
#whyus-content {
  width: 50%;
  line-height: 2rem;
  padding: 3rem;
}

#whyus-content h2 {
  font-size: 1.8rem;
  color: #37517e;
}

#whyus-span {
  font-weight: 900;
}

#whyus-content p {
  color: #848484;
}

#whyus-content > div {
  background: white;
  padding: 1.5rem;
  margin: 1rem 0;
  color: #343a40;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whyus-content-num {
  color: #47b2e4;
  margin-right: 0.5rem;
}

#whyus-content div i {
  float: right;
  align-items: center;
}
#whyus-img {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(./why-us.png);
  width: 50%;
}

#skill {
  display: flex;
  padding: 60px 100px;
}

#skill-img {
  background-image: url(./skills.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50%;
}

#skill-content {
  width: 50%;
  line-height: 2rem;
  padding: 2rem 1rem;
}

#skill-content h2 {
  font-size: 2rem;
  color: #37517e;
  font-weight: 900;
  margin-right: 3rem;
  margin-bottom: 0.5rem;
}

#skill-content p {
  color: #444444;
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.skill-bar-title {
  color: #37517e;
  font-size: 0.8rem;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

.skill-bar {
  display: flex;
  background: #e8edf5;
  margin-bottom: 1.5rem;
}

#skill-bar-first {
  width: 100%;
  background-color: #4668a2;
  height: 10px;
}

#skill-bar-second {
  width: 90%;
  background-color: #4668a2;
  height: 10px;
}

#skill-bar-third {
  width: 75%;
  background-color: #4668a2;
  height: 10px;
}

#skill-bar-fourth {
  width: 55%;
  background-color: #4668a2;
  height: 10px;
}

@media only screen and (max-width: 992px) {
  #clients-container {
    flex-wrap: wrap;
  }

  .clients-list-items {
    width: calc(100% / 3);
    flex: 0 0 auto;
  }

  #about-content {
    flex-wrap: wrap;
    padding: 2rem 6rem;
  }

  #about-content-left {
    width: 100%;
  }
  #about-content-right {
    width: 100%;
    padding-top: 1rem;
  }

  #whyus {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  #whyus-content {
    width: 100%;
    padding: 0;
  }
  #whyus-img {
    width: 100%;
    min-height: 400px;
    margin-bottom: 2rem;
  }

  #skill {
    display: flex;
    flex-wrap: wrap;
  }

  #skill-img {
    width: 100%;
    min-height: 400px;
  }
  #skill-content {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #clients-container {
    flex-wrap: wrap;
  }

  .clients-list-items {
    width: 50%;
    flex: 0 0 auto;
  }

  #about {
    padding: 0;
  }
  #about-content {
    padding: 3rem;
  }

  #whyus {
    padding: 1rem;
  }

  #skill {
    padding: 1rem;
  }
  #skill-content {
    padding: 1rem;
  }
}
